# Multivariate Linear Regression

A table:

In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from myst_nb import glue

In [28]:
x1 = np.random.normal(50, 5, 6)
x2 = np.random.uniform(-3.14, 3.14, 6)
x3 = np.random.normal(2000, 100, 6)
x4 = np.random.normal(0, 0.1, 6)

df = pd.DataFrame(list(zip(x1, x2, x3, x4)), columns = ["x1", "x2", "x3", "x4"])

print(df)

glue("df_example", df)

         x_1       x_2          x_3       x_4
0  53.844621 -2.236084  2158.276717 -0.035128
1  45.108137  1.204087  1935.968922  0.038599
2  43.764648 -1.509527  2080.412520 -0.080645
3  44.739359 -2.604297  2048.357208 -0.040369
4  38.390222 -2.325613  1984.086668  0.243353
5  49.152215 -0.600885  1972.311885 -0.034590

         x_1       x_2          x_3       x_4
0  53.844621 -2.236084  2158.276717 -0.035128
1  45.108137  1.204087  1935.968922  0.038599
2  43.764648 -1.509527  2080.412520 -0.080645
3  44.739359 -2.604297  2048.357208 -0.040369
4  38.390222 -2.325613  1984.086668  0.243353
5  49.152215 -0.600885  1972.311885 -0.034590